<center> <h1>Welcome to Hairy Dubstep!</h1> 


<div class="container jumbotron" style="border-radius:30px">
  <h3>Write yo comment!</h3>
  <h4>{{title}}</h4>
  <h5>by {{author}}</h5>
  <h6> Comments: </h6>
  {% for comment in comments %}
        <h6> {{comment[1]}}: {{comment[2]}} {{comment[3]}} </h6>
    {% endfor %} 


  <form method="POST">
    <input class="form-control" type="text" name="author" placeholder="Author">
    <br>
    <textarea class="form-control" name="textarea" style="width:250px;height:150px;" placeholder="Blog Post">
    </textarea>
    <br>
    <button type="submit" class="btn btn-default btn-primary" name="submit">Post!</button>
  </form>


</div></center>
